#about {
  background: #0a111e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;

  .content {
    display: flex;
    margin-top: 2rem;
    width: 100%;

    .profile-picture-container {
      width: 50%;

      .profile-picture {
        width: 500px;
        height: 500px;
      }
    }

    .about-me {
      width: 50%;
      margin-left: 3rem;
      padding: 1rem 0;

      .title {
        font-weight: 500;
        font-size: 2rem;
        margin: 0;
      }

      .subtitle {
        color: #18a0bb;
        font-weight: 300;
        font-size: 1.3rem;
        margin-bottom: 0;
      }

      .biography,
      .info {
        color: #8f95a5;
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 300;
        width: 85%;
      }

      .biography {
        margin-top: 1rem;
      }

      #info-sections {
        margin-top: 1rem;

        .info {
          display: flex;
          line-height: 2.2rem;

          & p:first-child {
            width: 100px;
          }

          & p:last-child:before {
            content: ":";
            margin-right: 0.8rem;
          }
        }
      }

      .download-resume {
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  #about {
    padding-bottom: 2rem;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-picture-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .profile-picture {
          width: 400px;
          height: 400px;
        }
      }

      .about-me {
        width: 500px;
        text-align: center;
        margin-left: 0;

        .biography {
          width: 100%;
        }
      }

      #info-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #about {
    padding: 2rem 4rem;
    margin-bottom: 0;

    .profile-picture {
      width: 300px !important;
      height: 300px !important;
      margin-left: 0;
    }

    .about-me {
      width: 300px !important;
    }
  }
}
