.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  min-height: 45px;
  border: 1px solid #2e3543;
  border-radius: 50px;

  &[data-has-text="true"] {
    justify-content: flex-start;
    padding-left: 1rem;

    span {
      margin-left: 1rem;
      font-weight: light;
    }
  }

  i {
    color: #abb0bc;
  }
}
