.contact-card {
  display: flex;
  align-items: center;

  &:not(last-child) {
    margin-bottom: 1.2rem;
  }

  .circle-icon {
    margin-right: 1.3rem;
  }

  .content {
    .title {
      text-align: left;
      margin: 0 0 0.3rem 0 !important;
      font-size: 1.1rem !important;
      font-weight: normal !important;
    }
  }
}
