#contact {
  background: #060d1b;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  #contact-container {
    display: flex;
    margin-top: 2rem;
    width: 100%;

    .contact-inner {
      width: 50%;

      &:first-child {
        margin-right: 2rem;
      }

      .title {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        margin-bottom: 1.2rem;
      }

      #contact-form {
        width: 90%;

        button {
          margin-top: 0.3rem;
        }

        input,
        textarea {
          margin-bottom: 1rem;
        }
      }
    }

    #contact-info {
      #contact-cards {
        width: 100%;
        margin-top: 1.3rem;
      }

      p {
        color: #9ba4b1;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.5rem;
      }

      .visit-social-media {
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .social-icons {
        display: flex;

        .circle-icon:not(last-child) {
          margin-right: 1rem;
        }

        .circle-icon {
          cursor: pointer;

          &.github:hover {
            background: #1b1f23;
          }

          &.linkedin:hover {
            background: #0077b5;
          }

          &:hover i {
            color: #fff;
          }
        }

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #contact {
    padding: 2rem 4rem;

    .title {
      margin-top: 0;
    }

    #contact-container {
      flex-direction: column;
      margin-top: 0;

      .contact-inner {
        width: 100%;
        margin-top: 1rem;

        .title {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #contact {
    padding: 1rem 2rem;
  }
}
