#footer {
  background: #0a111e;
  height: 60px;

  .footer-inner {
    color: #9da4b1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  #footer {
    .footer-inner span {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
