.card-image-box {
  position: relative;
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.portfolio-card {
  color: #fff;
  background-color: #000;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.card-image-box .card-box-caption {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fafafa;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 142, 174, 0.7);
  position: absolute;
  width: 100%;
  height: 300px;
}

.card-image-box .card-box-caption .card-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card-image-box .card-box-caption .card-content .card-title {
  font-size: 2rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image-box:hover .card-box-caption {
  opacity: 1;
}
