#portfolio {
  background: #0a111e;
  padding: 2rem 10rem 4rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  #portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin-top: 1rem;
  }
}
