#services {
  background: #0a111e;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  #service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #service-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 880px) {
  #services {
    padding: 2rem 4rem;

    #service-cards {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}
