#skills {
  background: #060d1b;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  #skills-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;

    #skills-information {
      width: 50%;

      .title {
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
      }

      .description {
        color: #838a9a;
        font-size: 0.9rem;
        line-height: 1.5rem;

        &:not(last-child) {
          margin-bottom: 1.2rem;
        }
      }
    }

    #skills-progress {
      width: 50%;
      padding: 0 2rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  #skills {
    padding: 2rem 4rem;

    #skills-container {
      flex-direction: column;

      #skills-information {
        width: 100%;
        margin-bottom: 2rem;

        .title {
          margin-top: 0;
        }
      }

      #skills-progress {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #skills {
    padding: 1rem 2rem;
  }
}
