header#top-navigation {
  display: flex;
  align-items: center;
  background: #070b1a;
  width: 100%;
  height: 60px;
  padding: 0 10rem;
  position: fixed;
  z-index: 2;

  #top-navigation-mobile {
    display: none;
  }

  .logo {
    color: #fff;
    margin-right: 6rem;
    font-weight: bold;
    font-size: 1.2rem;

    span {
      color: #18a0bb;
    }
  }

  .top-navigation-right {
    display: flex;
    align-items: center;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;

      li a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 16px;
        font-size: 0.8rem;

        &.active,
        &:hover {
          color: #18a0bb;
        }
      }
    }
  }

  .separator {
    width: 1px;
    height: 10px;
    border-right: 1px solid #fff;
    margin: 0 2rem;
  }

  .contact {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    i {
      margin-right: 0.8rem;
    }
  }
}

@media screen and (max-width: 1180px) {
  #top-navigation {
    display: flex;
    justify-content: center;
    padding: 0 !important;

    #top-navigation-mobile {
      display: block !important;
      position: absolute;
      left: 1rem;
    }

    .logo {
      margin: 0 !important;
    }

    .top-navigation-right {
      display: none !important;
    }
  }
}
