header#top-navigation {
  display: flex;
  align-items: center;
  background: #070b1a;
  height: 60px;
  padding: 0 10rem;

  .logo {
    margin-right: 6rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .top-navigation-right {
    display: flex;
    align-items: center;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;

      li a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 16px;
        font-size: 0.8rem;

        &.active,
        &:hover {
          color: #237186;
        }
      }
    }
  }

  .separator {
    width: 1px;
    height: 10px;
    border-right: 1px solid #fff;
    margin: 0 2rem;
  }

  .contact {
    display: flex;
    align-items: center;

    i {
      margin-right: 0.8rem;
    }
  }
}
