---
import TopNavigation from "../components/TopNavigation.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/main.scss";
---

<Layout title="Joshua McNabb - Full-Stack Software Developer">
  <main>
    <TopNavigation />
  </main>
</Layout>
