---
import TopNavigation from "../components/TopNavigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joshua McNabb - Full-Stack Software Developer">
  <TopNavigation />

  <main>
    <h2>content here...</h2>
  </main>
</Layout>
