---
import { Image } from "astro:assets";
import TitleUnderlined from "./TitleUnderlined.astro";
import "../styles/about.scss";
import profilePicture from "../images/me.jpeg";
---

<section id="about">
  <TitleUnderlined>About Me</TitleUnderlined>

  <div class="content">
    <div class="profile-picture-container">
      <Image
        class="profile-picture"
        src={profilePicture}
        alt="Picture of Joshua McNabb"
      />
    </div>

    <div class="about-me">
      <h2 class="title">A Little Bit About Me</h2>
      <p class="biography">
        I started my journey with web development way back when I was 17 years
        old. It started with a curiosity of how websites were made and how they
        worked. My hobby quickly turned into a passion and I went to school to
        learn more about it. I graduated from SAIT with a diploma in
        Object-Oriented Software Development, and I have been working in the
        industry ever since.
      </p>

      <div id="info-sections">
        <div class="info">
          <p>Birthday</p>
          <p>January 27, 1995</p>
        </div>
        <div class="info">
          <p>Phone</p>
          <p>
            <a href="tel:7803858977">
              &#x28;&#x37;&#x38;&#x30;&#x29;&#x20;&#x33;&#x38;&#x35;&#x2d;&#x38;&#x39;&#x37;&#x37;
            </a>
          </p>
        </div>
        <div class="info">
          <p>Email</p>
          <p>
            <a href="mailto:info@joshuamcnabb.ca">
              &#x69;&#x6e;&#x66;&#x6f;&#x40;&#x6a;&#x6f;&#x73;&#x68;&#x75;&#x61;&#x6d;&#x63;&#x6e;&#x61;&#x62;&#x62;&#x2e;&#x63;&#x61;
            </a>
          </p>
        </div>
        <div class="info">
          <p>From</p>
          <p>Calgary, AB</p>
        </div>
        <div class="info">
          <p>Language</p>
          <p>English</p>
        </div>
        <div class="info">
          <p>Work Status</p>
          <p>Available</p>
        </div>
      </div>

      <a href="/Joshua-McNabb-Resume.pdf" download="Joshua-McNabb-Resume.pdf">
        <button class="download-resume">Download Resume</button>
      </a>
    </div>
  </div>
</section>
