---
import { Image } from "astro:assets";
import TitleUnderlined from "./TitleUnderlined.astro";
import "../styles/about.scss";
import profilePicture from "../images/me.jpeg";
---

<section id="about">
  <TitleUnderlined>About Me</TitleUnderlined>

  <div class="content">
    <div class="profile-picture-container">
      <Image
        class="profile-picture"
        src={profilePicture}
        alt="Picture of Joshua McNabb"
      />
    </div>

    <div class="about-me">
      <h2 class="title">A Little Bit About Me</h2>
      <p class="biography">
        I started my journey with web development way back when I was 17 years
        old. It started with a curiosity of how websites were made and how they
        worked. My hobby quickly turned into a passion and I went to school to
        learn more about it. I graduated from SAIT with a diploma in
        Object-Oriented Software Development, and I have been working in the
        industry ever since.
      </p>

      <div id="info-sections">
        <div class="info">
          <p>Birthday</p>
          <p>January 27, 1995</p>
        </div>
        <div class="info">
          <p>Phone</p>
          <p>
            <a href="tel:7803858977">
              &#x28;&#x37;&#x38;&#x30;&#x29;&#x20;&#x33;&#x38;&#x35;&#x2d;&#x38;&#x39;&#x37;&#x37;
            </a>
          </p>
        </div>
        <div class="info">
          <p>Email</p>
          <p>
            <a href="mailto:info@joshuamcnabb.ca">
              &#x69;&#x6e;&#x66;&#x6f;&#x40;&#x6a;&#x6f;&#x73;&#x68;&#x75;&#x61;&#x6d;&#x63;&#x6e;&#x61;&#x62;&#x62;&#x2e;&#x63;&#x61;
            </a>
          </p>
        </div>
        <div class="info">
          <p>From</p>
          <p>Calgary, AB</p>
        </div>
        <div class="info">
          <p>Language</p>
          <p>English</p>
        </div>
        <div class="info">
          <p>Work Status</p>
          <p>Available</p>
        </div>
      </div>

      <a href="/Joshua-McNabb-Resume.pdf" download="Joshua-McNabb-Resume.pdf">
        <button class="download-resume">Download Resume</button>
      </a>
    </div>
  </div>
</section>

<script>
  import anime from "animejs";

  let hasScrolledToAbout = false;

  function isElementVisible(element: HTMLElement) {
    var rect = element.getBoundingClientRect();

    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  window.addEventListener("load", () => {
    if (isElementVisible(document.getElementById("about"))) {
      if (!hasScrolledToAbout) {
        animateAboutSection();
      }

      hasScrolledToAbout = true;

      document.getElementById("about").classList.add("scrolled");
    }
  });

  window.addEventListener("scroll", () => {
    if (isElementVisible(document.getElementById("about"))) {
      if (!hasScrolledToAbout) {
        animateAboutSection();
      }

      hasScrolledToAbout = true;

      document.getElementById("about").classList.add("scrolled");
    }
  });

  const animateAboutSection = () => {
    anime({
      targets: "#about .title-underlined",
      opacity: [0, 1],
      translateY: [-100, 0],
      duration: 500,
      easing: "linear",
    });

    anime({
      targets: "#about .profile-picture",
      opacity: [0, 1],
      duration: 500,
      delay: 500,
      easing: "linear",
    });

    anime({
      targets: "#about .about-me .title",
      opacity: [0, 1],
      translateY: [-50, 0],
      duration: 500,
      delay: 500,
      easing: "linear",
    });

    anime({
      targets: ["#about .about-me .biography", "#about #info-sections"],
      opacity: [0, 1],
      translateY: [-50, 0],
      duration: 500,
      delay: 1100,
      easing: "linear",
    });

    anime({
      targets: "#about .download-resume",
      opacity: [0, 1],
      duration: 500,
      delay: 1300,
      easing: "linear",
    });
  };
</script>
