---
import "../styles/circle-icon.scss";

interface Props {
  icon: string;
  iconVariant?: "solid" | "brands";
  text?: string;
  iconSize?: string;
  class?: string;
}

const {
  icon,
  text,
  iconSize = "sm",
  iconVariant = "solid",
  class: className,
} = Astro.props;
---

<div
  class:list={["circle-icon", className]}
  data-has-text={!!text ? "true" : "false"}
>
  <i class={`fa-${iconVariant} fa-${iconSize} fa-${icon}`}></i>
  {text && <span class="icon-text">{text}</span>}
</div>
