---
import "../styles/contact.scss";
import CircleIcon from "./CircleIcon.astro";
import ContactCard from "./ContactCard.astro";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="contact">
  <TitleUnderlined width={200}>Contact Me</TitleUnderlined>

  <div id="contact-container">
    <div class="contact-inner">
      <h3 class="title">Say Hello</h3>

      <div id="contact-form">
        <input placeholder="Your Name" />
        <input placeholder="Your Email" />
        <input placeholder="Your Subject" />
        <textarea placeholder="Your Message" rows={6}></textarea>
        <button>Send Message</button>
      </div>
    </div>

    <div id="contact-info" class="contact-inner">
      <h3 class="title">Contact Info</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>

      <div id="contact-cards">
        <ContactCard
          icon="envelope"
          title="Email"
          lineOne="info@joshuamcnabb.ca"
        />
        <ContactCard icon="phone" title="Phone" lineOne="(780) 385-8977" />
        <ContactCard
          icon="location-dot"
          title="Address"
          lineOne="Calgary, Canada"
        />
      </div>

      <p class="visit-social-media">Visit my social media and get connected</p>

      <div class="social-icons">
        <a href="https://github.com/JoshuaM1995" target="_blank">
          <CircleIcon
            class="github"
            icon="github"
            iconVariant="brands"
            iconSize="md"
            text="Github"
          />
        </a>
        <a href="https://www.linkedin.com/in/jmcnabb1995/" target="_blank">
          <CircleIcon
            class="linkedin"
            icon="linkedin"
            iconVariant="brands"
            iconSize="md"
            text="LinkedIn"
          />
        </a>
      </div>
    </div>
  </div>
</section>
