---
import "../styles/contact.scss";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="contact">
  <TitleUnderlined width={200}>Contact Me</TitleUnderlined>

  <div id="contact-cotnainer">
    <h2>Hello</h2>
  </div>
</section>
