---
import "../styles/hero.scss";
---

<main>
  <div class="hero-left">
    <h3 class="hello">Hello, I'm</h3>
    <h1 class="first-name">Joshua</h1>
    <h1 class="last-name">McNabb</h1>
    <h2 class="title">Full-Stack Software Developer</h2>
    <button>Hire Me</button>
  </div>

  <div class="hero-right">
    <div>profile picture here</div>
  </div>
</main>
