---
import "../styles/portfolio.scss";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="portfolio">
  <TitleUnderlined>Portfolio</TitleUnderlined>

  <div id="portfolio-cards">
    <div class="portfolio-card">1</div>
    <div class="portfolio-card">2</div>
    <div class="portfolio-card">3</div>
    <div class="portfolio-card">4</div>
    <div class="portfolio-card">5</div>
    <div class="portfolio-card">6</div>
  </div>
</section>
