---
import "../styles/portfolio-card.scss";

interface Props {
  id: string;
  backgroundImage: string;
}

const { id, backgroundImage } = Astro.props;
---

<div id={id} class="card-image-box">
  <div class="portfolio-card" style={`background:url(${backgroundImage})`}>
    <div class="card-box-caption">
      <div class="card-content">
        <div class="card-title text-faded">
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
