---
import "../styles/portfolio.scss";
import PortfolioCard from "./PortfolioCard.astro";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="portfolio">
  <TitleUnderlined>Portfolio</TitleUnderlined>

  <div id="portfolio-cards">
    <PortfolioCard backgroundImage="https://placekitten.com/g/500/300">
      Healthcare Web/Mobile Application
    </PortfolioCard>
    <PortfolioCard backgroundImage="https://placekitten.com/g/500/300">
      Oil & Gas Web Application
    </PortfolioCard>
    <PortfolioCard backgroundImage="https://placekitten.com/g/500/300">
      Spotalytics
    </PortfolioCard>
  </div>
</section>
