---
import "../styles/service-card.scss";

interface Props {
  title: string;
  icon: string;
}

const { title } = Astro.props;
---

<div class="service-card">
  <div class="icon"></div>
  <h4 class="title">{title}</h4>
  <p class="information"><slot /></p>
</div>
