---
import "../styles/services.scss";
import ServiceCard from "./ServiceCard.astro";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="services">
  <TitleUnderlined>Services</TitleUnderlined>

  <div id="service-cards">
    <ServiceCard title="Sketches" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
    <ServiceCard title="UI/UX Design" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
    <ServiceCard title="Product Design" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
    <ServiceCard title="App Design" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
    <ServiceCard title="Motion Graphics" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
    <ServiceCard title="Responsive Design" icon="code">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos
      quia. Quisquam, quos quia quia. Quisquam, quos quia. Quisquam, quos quia.
    </ServiceCard>
  </div>
</section>
