---
import "../styles/service-card.scss";
import CircleIcon from "./CircleIcon.astro";

interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props;
---

<div class="service-card">
  <CircleIcon icon={icon} />
  <h3 class="title">{title}</h3>
  <p class="information"><slot /></p>
</div>
