---
import "../styles/services.scss";
import ServiceCard from "./ServiceCard.astro";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="services">
  <TitleUnderlined>Services</TitleUnderlined>

  <div id="service-cards">
    <ServiceCard title="Web Application Development" icon="laptop">
      I have experience with React, Svelte, and Astro. Using these technologies
      as well as my skills with HTML and CSS, I can build web applications that
      are fast and responsive.
    </ServiceCard>
    <ServiceCard title="Mobile Application Development" icon="mobile-screen">
      Using React Native and Expo, I am able to build mobile applications for
      both iOS and Android. I have experience with NativeBase, Tamagui and other
      UI libraries.
    </ServiceCard>
    <ServiceCard
      title="Backend API Development"
      icon="node"
      iconVariant="brands"
    >
      I have experience with Node.js and Express.js, as well as NestJS. I can
      build REST APIs that are fast and secure, and follow best practices, as
      well as being able to scale.
    </ServiceCard>
  </div>
</section>

<script>
  import anime from "animejs";

  let hasScrolledToAbout = false;

  function isElementVisible(element: HTMLElement) {
    var rect = element.getBoundingClientRect();

    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  window.addEventListener("load", () => {
    if (isElementVisible(document.getElementById("services"))) {
      if (!hasScrolledToAbout) {
        animateServicesSection();
      }

      hasScrolledToAbout = true;

      document.getElementById("services").classList.add("scrolled");
    }
  });

  window.addEventListener("scroll", () => {
    if (isElementVisible(document.getElementById("services"))) {
      if (!hasScrolledToAbout) {
        animateServicesSection();
      }

      hasScrolledToAbout = true;

      document.getElementById("services").classList.add("scrolled");
    }
  });

  const animateServicesSection = () => {
    anime({
      targets: "#services .title-underlined",
      opacity: [0, 1],
      translateY: [-100, 0],
      duration: 500,
      easing: "linear",
    });

    anime({
      targets: ".service-card:nth-child(1)",
      opacity: [0, 1],
      translateX: [-50, 0],
      duration: 400,
      easing: "linear",
      delay: 600,
    });

    anime({
      targets: ".service-card:nth-child(2)",
      opacity: [0, 1],
      translateX: [-50, 0],
      duration: 400,
      easing: "linear",
      delay: 1100,
    });

    anime({
      targets: ".service-card:nth-child(3)",
      opacity: [0, 1],
      translateX: [-50, 0],
      duration: 400,
      easing: "linear",
      delay: 1500,
    });
  };
</script>
