---
import "../styles/services.scss";
import ServiceCard from "./ServiceCard.astro";
import TitleUnderlined from "./TitleUnderlined.astro";
---

<section id="services">
  <TitleUnderlined>Services</TitleUnderlined>

  <div id="service-cards">
    <ServiceCard title="Web Application Development" icon="laptop">
      I have experience with React, Angular, Svelte and Astro. Using these
      technologies as well as my skills with HTML and CSS, I can build web
      applications that are fast and responsive.
    </ServiceCard>
    <ServiceCard title="Mobile Application Development" icon="mobile-screen">
      Using React Native and Expo, I am able to build mobile applications for
      both iOS and Android. I have experience with NativeBase, Tamagui and other
      UI libraries.
    </ServiceCard>
    <ServiceCard
      title="Backend API Development"
      icon="node"
      iconVariant="brands"
    >
      I have experience with Node.js and Express.js, as well as NestJS. I can
      build REST APIs that are fast and secure, and follow best practices, as
      well as being able to scale.
    </ServiceCard>
  </div>
</section>
