---
import "../styles/title-underlined.scss";

interface Props {
  width?: number;
}

const { width } = Astro.props;
---

<div
  class="title-underlined"
  style={width ? { width: `${width}px` } : undefined}
>
  <h2><slot /></h2>
  <div class="underline"></div>
</div>
