---
import "../styles/top-navigation.scss";
---

<header id="top-navigation">
  <div class="logo">YOUR LOGO</div>

  <div class="top-navigation-right">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="separator"></div>

    <div class="contact">
      <div>phone icon</div>
      <a href="tel:7803858977">(780) 385-8977</a>
    </div>
  </div>
</header>
