---
import "../styles/top-navigation.scss";
---

<header id="top-navigation">
  <div id="top-navigation-mobile">
    <i class="fa fa-bars fa-lg"></i>
  </div>

  <a href="/" class="logo">
    <span>JOSHUA</span> MCNABB
  </a>

  <div class="top-navigation-right">
    <nav>
      <ul>
        <li>
          <a class="menu-item" href="#" class="active" data-section="home"
            >Home</a
          >
        </li>
        <li>
          <a class="menu-item" href="#" data-section="about">About</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="services">Services</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="skills">Skills</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="portfolio">Portfolio</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="separator"></div>

    <div class="contact">
      <i class="fa-solid fa-phone fa-sm"></i>
      <a href="tel:7803858977"
        >&#x28;&#x37;&#x38;&#x30;&#x29;&#x20;&#x33;&#x38;&#x35;&#x2d;&#x38;&#x39;&#x37;&#x37;</a
      >
    </div>
  </div>
</header>

<script>
  const menuItems = document.querySelectorAll(".menu-item");
  const yOffset = -59;

  const resetActiveStates = () => {
    menuItems.forEach((menuItem) => {
      menuItem.classList.remove("active");
    });
  };

  // Helper function to add the "active" class to a menu item
  const setActiveMenuItem = (menuItem) => {
    resetActiveStates();
    menuItem.classList.add("active");
  };

  const scrollToSectionOnMenuItemClick = (menuItem, sectionId) => {
    menuItem.addEventListener("click", (e) => {
      e.preventDefault();

      const sectionElement = document.getElementById(sectionId);
      const y =
        sectionElement.getBoundingClientRect().top + window.scrollY + yOffset;
      window.scrollTo({ behavior: "smooth", top: y });

      setActiveMenuItem(menuItem);
    });
  };

  const isInViewport = (element) => {
    const rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  };

  const updateActiveMenuItem = () => {
    menuItems.forEach((menuItem) => {
      const sectionId = menuItem.getAttribute("data-section");
      const sectionElement = document.getElementById(sectionId);

      if (sectionElement && isInViewport(sectionElement)) {
        resetActiveStates();
        menuItem.classList.add("active");
      }
    });
  };

  menuItems.forEach((menuItem) => {
    const sectionId = menuItem.getAttribute("data-section");
    scrollToSectionOnMenuItemClick(menuItem, sectionId);
  });

  // Initial update of the active menu item
  updateActiveMenuItem();

  // Add scroll event listener to update the active menu item when scrolling
  window.addEventListener("scroll", () => {
    updateActiveMenuItem();
  });
</script>
