---
import "../styles/top-navigation.scss";
---

<header id="top-navigation">
  <div class="logo">
    <span>JOSHUA</span> MCNABB
  </div>

  <div class="top-navigation-right">
    <nav>
      <ul>
        <li><a id="home-menu-item" href="#">Home</a></li>
        <li><a id="about-menu-item" href="#">About</a></li>
        <li><a id="skills-menu-item" href="#">Skills</a></li>
        <li><a id="portfolio-menu-item" href="#">Portfolio</a></li>
        <li><a id="contact-menu-item" href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="separator"></div>

    <div class="contact">
      <i class="fa-solid fa-phone fa-xs"></i>
      <a href="tel:7803858977">(780) 385-8977</a>
    </div>
  </div>
</header>

<script lang="ts">
const homeMenuItem = document.getElementById("home-menu-item");
const aboutMenuItem = document.getElementById("about-menu-item");
const skillsMenuItem = document.getElementById("skills-menu-item");
const portfolioMenuItem = document.getElementById("portfolio-menu-item");
const contactMenuItem = document.getElementById("contact-menu-item");
const yOffset = -60;

homeMenuItem.addEventListener("click", (e) => {
  e.preventDefault();

  window.scrollTo({ top: 0, behavior: "smooth" });
});

aboutMenuItem.addEventListener("click", (e) => {
  e.preventDefault();

  const aboutElement = document.getElementById("about");
  const y =
    aboutElement.getBoundingClientRect().top + window.scrollY + yOffset;
  window.scrollTo({ behavior: "smooth", top: y });
});

skillsMenuItem.addEventListener("click", (e) => {
  e.preventDefault();

  const skillsElement = document.getElementById("skills");
  const y =
    skillsElement.getBoundingClientRect().top + window.scrollY + yOffset;
  window.scrollTo({ behavior: "smooth", top: y });
});

portfolioMenuItem.addEventListener("click", (e) => {
  e.preventDefault();

  const portfolioElement = document.getElementById("portfolio");
  const y =
    portfolioElement.getBoundingClientRect().top + window.scrollY + yOffset;
  window.scrollTo({ behavior: "smooth", top: y });
});

contactMenuItem.addEventListener("click", (e) => {
  e.preventDefault();

  const contactElement = document.getElementById("contact");
  const y =
    contactElement.getBoundingClientRect().top + window.scrollY + yOffset;
  window.scrollTo({ behavior: "smooth", top: y });
});
</script>
