---
import "../styles/top-navigation.scss";
---

<header id="top-navigation">
  <div class="logo">
    <span>JOSHUA</span> MCNABB
  </div>

  <div class="top-navigation-right">
    <nav>
      <ul>
        <li>
          <a class="menu-item" href="#" class="active" data-section="home"
            >Home</a
          >
        </li>
        <li>
          <a class="menu-item" href="#" data-section="about">About</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="services">Services</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="skills">Skills</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="portfolio">Portfolio</a>
        </li>
        <li>
          <a class="menu-item" href="#" data-section="contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="separator"></div>

    <div class="contact">
      <i class="fa-solid fa-phone fa-xs"></i>
      <a href="tel:7803858977">(780) 385-8977</a>
    </div>
  </div>
</header>

<script>
  const menuItems = document.querySelectorAll(".menu-item");
  const yOffset = -59;

  // Set the "Home" menu item as active by default
  const homeMenuItem = document.querySelector('[data-section="home"]');
  homeMenuItem.classList.add("active");

  const resetActiveStates = () => {
    menuItems.forEach((menuItem) => {
      menuItem.classList.remove("active");
    });
  };

  const scrollToSectionOnMenuItemClick = (menuItem, sectionId) => {
    menuItem.addEventListener("click", (e) => {
      e.preventDefault();

      const sectionElement = document.getElementById(sectionId);
      const y =
        sectionElement.getBoundingClientRect().top + window.scrollY + yOffset;
      window.scrollTo({ behavior: "smooth", top: y });

      resetActiveStates();
      menuItem.classList.add("active");
    });
  };

  menuItems.forEach((menuItem) => {
    const sectionId = menuItem.getAttribute("data-section");
    scrollToSectionOnMenuItemClick(menuItem, sectionId);
  });
</script>
