---
import "../styles/top-navigation.scss";
---

<header id="top-navigation">
  <div class="logo">
    <span>JOSHUA</span> MCNABB
  </div>

  <div class="top-navigation-right">
    <nav>
      <ul>
        <li><a id="home-menu-item" href="#" class="active">Home</a></li>
        <li><a id="about-menu-item" href="#">About</a></li>
        <li><a id="services-menu-item" href="#">Services</a></li>
        <li><a id="skills-menu-item" href="#">Skills</a></li>
        <li><a id="portfolio-menu-item" href="#">Portfolio</a></li>
        <li><a id="contact-menu-item" href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="separator"></div>

    <div class="contact">
      <i class="fa-solid fa-phone fa-xs"></i>
      <a href="tel:7803858977">(780) 385-8977</a>
    </div>
  </div>
</header>

<script>
  const homeMenuItem = document.getElementById("home-menu-item");
  const aboutMenuItem = document.getElementById("about-menu-item");
  const servicesMenuItem = document.getElementById("services-menu-item");
  const skillsMenuItem = document.getElementById("skills-menu-item");
  const portfolioMenuItem = document.getElementById("portfolio-menu-item");
  const contactMenuItem = document.getElementById("contact-menu-item");
  const yOffset = -59;

  const resetActiveStates = () => {
    homeMenuItem.classList.remove("active");
    aboutMenuItem.classList.remove("active");
    servicesMenuItem.classList.remove("active");
    skillsMenuItem.classList.remove("active");
    portfolioMenuItem.classList.remove("active");
    contactMenuItem.classList.remove("active");
  };

  const scrollToSectionOnMenuItemClick = (
    menuItem: HTMLElement,
    sectionId: string
  ) => {
    menuItem.addEventListener("click", (e) => {
      e.preventDefault();

      const sectionElement = document.getElementById(sectionId);
      const y =
        sectionElement.getBoundingClientRect().top + window.scrollY + yOffset;
      window.scrollTo({ behavior: "smooth", top: y });

      resetActiveStates();
      menuItem.classList.add("active");
    });
  };

  scrollToSectionOnMenuItemClick(homeMenuItem, "home");
  scrollToSectionOnMenuItemClick(aboutMenuItem, "about");
  scrollToSectionOnMenuItemClick(servicesMenuItem, "services");
  scrollToSectionOnMenuItemClick(skillsMenuItem, "skills");
  scrollToSectionOnMenuItemClick(portfolioMenuItem, "portfolio");
  scrollToSectionOnMenuItemClick(contactMenuItem, "contact");

  // makeSectionActive("home-menu-item", "home");
  // makeSectionActive("about-menu-item", "about");
  // makeSectionActive("services-menu-item", "services");
  // makeSectionActive("skills-menu-item", "skills");
  // makeSectionActive("portfolio-menu-item", "portfolio");
  // makeSectionActive("contact-menu-item", "contact");
</script>
