---
import "../styles/reset.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I'm Joshua McNabb, a Full-Stack Software Developer skilled in JavaScript, TypeScript, Node.js, PostgreSQL, and React. Explore my portfolio and experience."
    />
    <meta
      name="keywords"
      content="Joshua McNabb, Full-Stack Developer, JavaScript, TypeScript, Node.js, PostgreSQL, React, Portfolio, Experience"
    />
    <meta name="author" content="Joshua McNabb" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content="Joshua McNabb - Full-Stack Software Developer"
    />
    <meta
      property="og:description"
      content="I'm Joshua McNabb, a Full-Stack Software Developer skilled in JavaScript, TypeScript, Node.js, PostgreSQL, and React. Explore my portfolio and experience."
    />
    <meta property="og:url" content="https://www.joshuamcnabb.ca" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Open Sans", sans-serif;
    background: #0a111f !important;
  }
</style>
